networks:
  farmconnect:
    driver: bridge
services:
  connectapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: connectapi
    user: "node"
    working_dir: /home/node/app
    environment:
      - PORT=8888
      - CONN_STR=mongodb://connectapi:connectapi@mongodb:27017/connectdb?authSource=admin
      - JWT_SECRET=djhdsfisdfiosdfsfdsfjsdfsihsdfhisdfdsf
      - NODE_ENV=development
      - RABBITMQ_URL=amqps://psaryleg:dQ4hQKh6n92Xp6_rOzEzTE3c7YzTLLum@seal.lmq.cloudamqp.com/psaryleg
      - ONESIGNAL_APP_ID=${ONESIGNAL_APP_ID}
      - ONESIGNAL_API_KEY=${ONESIGNAL_API_KEY}
    volumes:
      - ./:/home/node/app
    networks:
      - farmconnect
    ports:
      - "8888:8888"
    command: npm run dev
    depends_on:
      - mongodb
    restart: unless-stopped

  notification-worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-worker
    user: "node"
    working_dir: /home/node/app
    environment:
      - RABBITMQ_URL=amqps://psaryleg:dQ4hQKh6n92Xp6_rOzEzTE3c7YzTLLum@seal.lmq.cloudamqp.com/psaryleg
      - ONESIGNAL_APP_ID=${ONESIGNAL_APP_ID}
      - ONESIGNAL_API_KEY=${ONESIGNAL_API_KEY}
    volumes:
      - ./:/home/node/app
    networks:
      - farmconnect
    command: npm run worker
    depends_on:
      - connectapi
    restart: unless-stopped

  mongodb:
    image: bhioux/mongodb:1.0
    container_name: mongodb
    environment:
      - MONGO_INITDB_ROOT_USERNAME=connectapi
      - MONGO_INITDB_ROOT_PASSWORD=connectapi
    volumes:
      - type: bind
        source: ./mongo_data
        target: /data/db
    networks:
      - farmconnect
    ports:
      - "27017:27017"
    restart: unless-stopped

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=connectapi
      - ME_CONFIG_MONGODB_ADMINPASSWORD=connectapi
      - ME_CONFIG_MONGODB_SERVER=mongodb
    ports:
      - "8081:8081"
    networks:
      - farmconnect
    depends_on:
      - mongodb
    restart: unless-stopped

volumes:
  mongo_data:
    driver: local
